body{
    min-height:100vh;
    background:#0b1424;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px 20px;
    font-family:'Segoe UI',sans-serif;
}

.reset-card{
    width:100%;
    max-width:520px;
    background:#ffffff;
    border-radius:24px;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
    overflow:hidden;
}

.card-header-custom{
    text-align:center;
    padding:35px 30px 20px;
    background:#ffffff;
    border-bottom:1px solid #eef2f7;
}

.card-header-custom img{
    width:70px;
    height:70px;
    object-fit:contain;
    margin-bottom:15px;
}

.card-header-custom h2{
    font-size:28px;
    font-weight:700;
    color:#1e293b;
    margin-bottom:5px;
}

.card-header-custom p{
    color:#206bd3;
    margin:0;
}

.card-body-custom{
    padding:35px;
}

.page-icon{
    text-align:center;
    margin-bottom:25px;
}

.page-icon i{
    font-size:55px;
    color:#0d6efd;
}

.user-box{
    background:#f8fafc;
    border:1px solid #e2e8f0;
    border-radius:16px;
    padding:20px;
    margin-bottom:30px;
}

.user-box-title{
    font-size:16px;
    font-weight:700;
    color:#1354eb;
    margin-bottom:15px;
}

.info-row{
    margin-bottom:12px;
}

.info-row:last-child{
    margin-bottom:0;
}

.info-label{
    display:block;
    font-size:13px;
    color:#000000;
    margin-bottom:3px;
}

.info-value{
    font-weight:600;
    color:#000000;
}

.form-label{
    font-weight:600;
    color:#0067f7;
    margin-bottom:8px;
}

.password-wrapper{
    position:relative;
}

.password-wrapper .form-control{
    height:35px;
    border-radius:5px;
    padding-right:35px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.password-toggle{
    position:absolute;
    top:50%;
    right:15px;
    transform:translateY(-50%);
    border:none;
    background:none;
    color:#8b646f;
}

.action-buttons{
    display:flex;
    gap:15px;
    margin-top:30px;
}

.action-buttons .btn{
    flex:1;
    height:50px;
    border-radius:5px;
    font-weight:600;
    border: none;
    color: black;
}

.action-buttons .btn:hover{
    color: aliceblue;
    background-color: orange;
}

.btn-primary{
    background:#0d6efd;
}

.btn-secondary{
    background:#0d6efd;
}

.btn{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:8px;
    text-decoration: none;
    font-size: 15px;
}